$breakpoint-phone: 480px;

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background: #efe5fd;
}

.border-wrapper {
  padding: 2rem;
  position: relative;
  background: linear-gradient(to right, #270b57, #16f1ea);
  padding: 3px;
  min-width: 40vw;

  .content {
    background: #efe5fd;
    color: white;
    padding: 2rem;

    @media (max-width: $breakpoint-phone) {
      padding: 1rem;
    }
  }

  .heading {
    margin: auto;
    font-family: "Nunito";
    font-size: 2.5em;
    color: #270b57;
  }
}
